<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <%- include('./header')%>
    <style>
        *:focus {outline: none; box-shadow:none !important;}
    </style>
</head>
<body>
    <div class="container">
        <%- include('./top') %>
        <nav class="mt-2" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:;">文章管理</a></li>
            <li class="breadcrumb-item" >回收站</li>
          </ol>
        </nav>

        <div class="row mb-3">
            <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <a href="/al/<%= token.userId %>">已发布文章</a>
                    <span class="badge badge-primary badge-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    回收站
                    <span class="badge badge-primary badge-pill"><%= page.total %></span>
                  </li>
                </ul>
            </div>
            <div class="col-md-9">
                <% if (result.length) { %>
                    <div class="accordion" id="accordionExample">
                    <% result.forEach(function(item,index){ %>
                        <div class="card">
                            <div class="card-header" id="heading<%= index %>">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                                  <span class="badge badge-pill badge-light">
                                    <%= item.title %>
                                  </span>
                                </button>
                                <button type="button" class="btn btn-light fr" onclick="copyArticle(<%= item.id %>)">恢复</button>
                              </h2>
                            </div>
                            <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordionExample">
                              <div class="card-body"><%- item.context %></div>
                            </div>
                        </div>
                    <% }) %>
                    </div>
                <% } else { %>
                    <div class="alert alert-secondary" role="alert"><%= title %>-暂无数据</div>
                <% } %>
                <% if (page.pageCount > 1) { %>
                    <nav aria-label="..." class="mt-2">
                      <ul class="pagination">
                        <li class="page-item">
                          <a href="/al/<%= token.userId %>?p=1&s=<%= page.pageSize %>" class="page-link" tabindex="-1" data-spm-disabled="true" >首页</a>
                        </li>
                        <% for(var i=1;i<=page.pageCount;i++){%>
                            <li data-page="<%= i %>" class="<% if (i == page.pageIndex) { %>active<% } %> page-item" <% if (i !== page.pageIndex) { %>onclick="goNext(<%= i %>,<%= page.pageSize %>)"<% } %>>
                                <a class="page-link" href="javascript:;"><%= i %><span class="sr-only">(current)</span></a>
                            </li> 
                        <% } %>
                        <li class="page-item">
                          <a href="/al/<%= token.userId %>?p=<%= page.pageCount %>&s=<%= page.pageSize %>" class="page-link" tabindex="-1" data-spm-disabled="true" >尾页</a>
                        </li>
                      </ul>
                    </nav>
                <% } %>
            </div>
            
        </div>

        <%- include('./footer')%>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        
    });

    function copyArticle(id){
        pjaxs({
            url:'/deleteArticle',
            method:'post',
            data:{
                id:id,
                state:'0'
            },
            headers: {'x-pjax': false},
        }).then(function(res){
            console.log(res)
            if(res && res.code == 200){
                window.location.reload();
            }else if(res.code == -306){
                window.location.href = '/login';
            }
        });
    }
    function goNext(pageIndex,pageSize){
        //console.log(window.location)
        window.location.href = `${window.location.pathname}?p=${pageIndex}&s=${pageSize}`;
    }
</script>