<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= emoji.emojify(title) %> - 个人文章</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <script src="/static/doT.min.js"></script>
    <link href="/static/emojify.min.css" rel="stylesheet">
    <script src="/static/emojify.min.js"></script>
    <script>
      // emojify.setConfig({
      //   tag_type :'span',
      //   img_dir:'https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic'
      // });
      var dir = 'https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic';
      function replacer(emoji, emojiName) {
        //console.log(emoji, emojiName)
        emoji = `<img alt='${emojiName}' title='${emojiName}' class='emoji' src='${dir}/${emojiName}.png' />`
        return emoji;
      }
    </script>
    <%- include('./header')%>
    <style>
        *:focus {outline: none; box-shadow:none !important;}
    </style>
</head>
<body>
    <% if (result) { %>
     <div class="container">
     	<%- include('./top')%>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">详情 >></li>
          </ol>
        </nav>
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                  <h1 class="display-5"><%= emoji.emojify(result.title) %></h1>
                  <p class="lead article-author">
                    <%= result.author %> 最近修改 <%= fmt(result.modify_time) %>
                    <span class="badge badge-pill badge-info"><%= result.tags %></span>
                  </p>
                  <hr class="my-4">
                  <p class="article-context text-wrap text-break"><%- emoji.emojify(result.context) %></p>
                 <!--  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="mb-3">
                </div>
            </div>
            <div class="col-md-3">
                <div class="alert alert-secondary" role="alert">
                    最新文章
                </div>
                <% if (hotsList.length) { %>
                    <% hotsList.forEach(function(item,index){ %>
                        <span class="badge badge-pill badge-light text-wrap">
                            <a href="/a/<%= item.id %>" style="color: #212529;text-decoration: none;"><%= item.title %></a>
                        </span>
                    <% }) %>
                <% } %>
            </div>

              <% if(result.reply == '0') { %>
              <div class="col-md-9">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                      文明上网理性发言，请遵守新闻评论服务协议
                    </li>
                  </ol>
                </nav>
                <div class="media mb10 shadow p-3 mb-5 bg-white rounded border">
                    <div class="align-self-start mr-3" style="width: 50px;height: 50px;">
                        <img src="/static/head.png"  style="display: block;width: 100%;" alt="...">
                    </div>
                    <div class="media-body">
                        <div class="form-group">
                            <textarea maxlength="120" rows="5" id="replay-context" style="display: block;width: 100%;padding: 5px;resize:none;" placeholder="随便说几句吧..."></textarea>
                            <label class="clearfix mt-2" style="display: block;width: 100%">
                              <% if(token) { %>
                                  <button type="button" class="btn btn-dark btn-replay float-right">发布评论</button>
                              <% } else { %>
                                  <button type="button" class="btn btn-primary btn-replay float-right">登录后评论</button>
                              <% } %>
                              
                            </label>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-9 mb-4">
                   <% if(replyMap && replyMap.length) { %>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page">
                            最新评论 <% if (page && page != null) { %>
                            <span class="badge badge-primary"><%= page.total %></span> <% } %>
                          </li>
                        </ol>
                      </nav>
                      
                      <% replyMap.forEach(function(item,index){ %>
                          <div class="toast show" style="max-width: 100%;">
                            <div class="toast-header" 
                              data-key="<%= item.id %>"
                              data-articleId="<%= item.article_id %>" 
                              data-from="<%= item.from_user_id %>" >
                              <strong class="mr-auto">
                                <%= item.user_name %>:<%= emoji.emojify(item.content) %>
                              </strong>
                              <!-- <small class="text-muted ml-3 GO cursor" onclick="onReplyTo(<%= item.id %>,<%= item.article_id %>,<%= item.from_user_id %>,this)" >回复</small> -->
                              <small class="text-muted ml-3 GO cursor" onclick="onGetReplyTo(<%= item.id %>,<%= item.article_id %>,this)" >查看回复</small>
                              <small class="text-muted ml-3"><%= diff(new Date(fmt(item.creat_time)).getTime()) %></small>
                            </div>
                            <div class="toast-body" style="display: none;">
                                <div class="replyToMap"></div>
                                <div class="replyToOne">
                                  <div class="media-body">
                                      <div class="form-group">
                                          <textarea rows="3" maxlength="120" class="rtc" style="display: block;width: 100%;padding: 5px;resize:none;" placeholder="随便回复<%= item.user_name %>几句吧..."></textarea>
                                          <label class="clearfix mt-2" style="display: block;width: 100%">
                                            <% if(token) { %>
                                                <button type="button" class="btn btn-dark float-right" onclick="onReplyTo(<%= item.id %>,<%= item.article_id %>,<%= item.from_user_id %>,this)" >回复</button>
                                            <% } else { %>
                                                <button type="button" class="btn btn-primary float-right" onclick="onReplyTo(<%= item.id %>,<%= item.article_id %>,<%= item.from_user_id %>,this)" >请先登录</button>
                                            <% } %>
                                          </label>
                                      </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                      <% }) %>
                   <% } %>
                   <% if (page.pageCount > 1) { %>
                    <nav aria-label="...">
                      <ul class="pagination pagination-sm">
                        <li class="page-item">
                          <a href="/a/<%= result.id %>?p=1&s=<%= page.pageSize %>" class="page-link" tabindex="-1" data-spm-disabled="true" >首页</a>
                        </li>
                        <% for(var i=1;i<=page.pageCount;i++){%>
                            <li data-page="<%= i %>" class="<% if (i == page.pageIndex) { %>active<% } %> page-item" <% if (i !== page.pageIndex) { %>onclick="goNext(<%= i %>,<%= page.pageSize %>)"<% } %>>
                                <a class="page-link" href="javascript:;"><%= i %><span class="sr-only">(current)</span></a>
                            </li> 
                        <% } %>
                        <li class="page-item">
                          <a href="/a/<%= result.id %>?p=<%= page.pageCount %>&s=<%= page.pageSize %>" class="page-link" tabindex="-1" data-spm-disabled="true" >尾页</a>
                        </li>
                      </ul>
                    </nav>
                    <% } %>
              </div>
              <% } else { %>

              <% } %>
        </div>
        <%- include('./plugin')%>
        <%- include('./footer')%>
     </div>
    <% } %>
</body>
<script id="template-tmpl" type="text/template">
      {{~it:v:index}}
      <div class="shadow-sm mb-1 p-2 bg-white rounded clearfix">
          <b class="float-left tar" style="width:22%">
            {{? v.from_user_nick == v.to_user_nick }}
              <span class="text-primary cursor" 
              data-toggle="modal" 
              data-target="#exampleModal" 
              data-articleid="{{=v.article_id}}"
              data-replyid="{{=v.reply_id}}" 
              data-to="{{=v.from_user_id}}" 
              data-whatever="@{{=v.from_user_nick}}">{{=v.from_user_nick}}</span>@自己:
            {{??}}
              <span class="text-primary cursor" 
              data-toggle="modal" 
              data-target="#exampleModal" 
              data-articleid="{{=v.article_id}}"
              data-replyid="{{=v.reply_id}}" 
              data-to="{{=v.from_user_id}}" 
              data-whatever="@{{=v.from_user_nick}}">{{=v.from_user_nick}}</span>@<span class="text-primary cursor" 
              data-toggle="modal" 
              data-target="#exampleModal" 
              data-articleid="{{=v.article_id}}"
              data-replyid="{{=v.reply_id}}" 
              data-to="{{=v.to_user_id}}" 
              data-whatever="@{{=v.to_user_nick}}">{{=v.to_user_nick}}</span>：
            {{?}}
          </b>
          <strong class="float-left" style="width:64%">{{= emojify.replace(v.content,replacer) }}</strong>
          <span class="text-muted float-right tar" style="width:14%">
            {{=dateDiff(new Date(formatDate(v.creat_time)).getTime())}}
          </span>
      </div>
      {{~}}
</script>
<script type="text/javascript">
    $(function(){
            $('.btn-replay').on('click',function(){
                var replayContext = $('#replay-context').val() || '';
                console.log(replayContext)
                onReply(replayContext);
            })
            $('#exampleModal').on('show.bs.modal', function (event) {
                //emoji对照表
                //https://www.webfx.com/tools/emoji-cheat-sheet/
                var button = $(event.relatedTarget);
                var recipient = button.data('whatever');
                var to = button.data('to');
                var replyId = button.data('replyid');
                var articleId = button.data('articleid');
                //console.log(to,replyId,articleId)
                var modal = $(this);
                modal.find('.form-control').attr('placeholder',`随便回复${recipient}几句吧...`)
                modal.find('.modal-title').text(recipient);
                modal.find('.modal-body input').val(recipient);
                modal.find('.btn-replayTo').attr({
                  'data-to':to,
                  'data-replyid':replyId,
                  'data-articleid':articleId,
                  onclick:`onReplyTo(${replyId},${articleId},${to},null,true)`
                })
            })
            function onReply(reply){
                pjaxs({
                url:'/reply',
                method:'post',
                data:{
                  reply:reply,
                  id:<%= result.id %>
                },
                }).then(function(res){
                    console.log(res)
                    if(res.code == -306){
                      window.location.href = `/login?redirect=${encodeURIComponent(window.location.pathname+window.location.search)}`;
                    }else if(res.code == 200){
                      setTimeout(function(){
                           location.reload(true);
                      },50)
                    }
                });
            }

            
    })
    function goNext(pageIndex,pageSize){
        //console.log(window.location)
        window.location.href = `${window.location.pathname}?p=${pageIndex}&s=${pageSize}`;
    }
    function onGetReplyTo(replyId,articleId,_this){
        
        pjaxs({
        url:'/getReply',
        method:'post',
        data:{
          replyId:replyId,
          articleId:articleId,
        },
        }).then(function(res){
            $('.toast-body').hide();
            if(res && res.code == 200 && res.result && res.result.length > 0){
              var template = doT.template($("#template-tmpl").html());
              $(_this).parent('.toast-header').siblings('.toast-body').show().find('.replyToMap').html(template(res.result))
            }else{
              $(_this).parent('.toast-header').siblings('.toast-body').show();
            }
        });
    }
    function onReplyTo(replyId,articleId,toUserId,_this,modal){
        var content = '';
        if(!modal){
          content = $(_this).parent().siblings('.rtc').val();
        }else{
          content = $('.modal-body #message-text').val();
        }
        if(!content || content == ''){
            return;
        }
        pjaxs({
        url:'/replyTo',
        method:'post',
        data:{
          content:content,
          replyId:replyId,
          articleId:articleId,
          toUserId:toUserId
        },
        }).then(function(res){
            if(res.code == -306){
              window.location.href = `/login?redirect=${encodeURIComponent(window.location.pathname+window.location.search)}`;
            }else if(res.code == 200){
              setTimeout(function(){
                   location.reload(true);
              },50)
            }else{
              console.log(res.msg)
            }
        });
    }
</script>
</html>