
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <%- include('./header')%>
    <style>
        *:focus {outline: none; box-shadow:none !important;}
        .w300{
            width: 320px;
            overflow: hidden;
            padding: 10px;
            margin:0 auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
            <div class="w300">
                <div class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="control-label">文章标题</label>
                            <div class="">
                                <input type="text" <% if(result) { %> value="<%= result.title %>" <% } %>  class="form-control" id="title" placeholder="文章标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">文章内容</label>
                            <div class="">
                                <textarea class="form-control" id="context" placeholder="文章内容" aria-label="文章内容"><%if(result){%><%= result.context %><%}%></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">文章标签</label>
                            <div class="">
                                <input type="text" <% if(result) { %> value="<%= result.tags %>" <% } %> class="form-control" id="tags" placeholder="文章标签">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <button class="btn btn-default btn-block btn-primary btn-Public">
                                    <% if(result) { %>Edit<% } else { %>Public<% } %>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="txt2" href="/">Back</a>
                        </div>
                </div>
                <div class="alert alert-warning" style="display: none;" role="alert">
                    
                </div>
            </div>
    </div>
</body>
<script type="text/javascript">
    $(function(){
            var API = <% if(result) { %>'/edits'<% } else { %>'/publish'<% } %>;
            var id = <% if(result) { %><%= result.id %><% } else { %>null<% } %>;
            $('.btn-Public').on('click',function(){
                var title = $('#title').val();
                var context = $('#context').val();
                var tags = $('#tags').val();
                if(title == '' || context == '' || tags == ''){
                    $('.alert-warning').html('请输入文章标题、内容、标签');
                    $('.alert-warning').show();
                    return;
                }else{
                    $('.alert-warning').hide();
                    onPublic(title,context,tags);
                }
            })
            function onPublic(title,context,tags){
                pjaxs({
                url:API,
                method:'post',
                data:{
                    title:title,
                    context:context,
                    tags:tags,
                    id:id
                },
                }).then(function(res){
                    console.log(res)
                    if(res){
                       $('.alert-warning').html(res.msg);
                       $('.alert-warning').show();
                    }
                });
            }
    })
</script>
</html>